$outside-padding: 3vw;
$nav-padding: 5vw;

* {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}

body {
    margin: 0;
    font-size: 2.5vh;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0px);

    .buffer {
        display: flex;
        flex-direction: row;
    }
}

.buffer {
    margin-left: $outside-padding;
    margin-right: $outside-padding;
}

.snap {
    scroll-snap-align: start;
}

.placeholder {
    flex-grow: 0;
    margin-left: 0;
    margin-right: 2em;
}

.content {
    flex: 1 1 0;
    text-align: left;

    h2 {
        text-transform: uppercase;
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 0.5em;
    }
}

.content + .placeholder {
    margin-left: 1em;
    margin-right: 0;
}

#buffer-splash {
    height: 100vh;
}

#buffer-when {
    height: 40vh;
}

#content-when {
    height: 40vh;

    .placeholder {
        width: 30%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

#buffer-where {
    height: 100vh;
}

#buffer-hotel {
    height: 15vh;
}

#content-hotel {
    height: 85vh;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .placeholder {
        width: 60%;
    }
}

.event-times {
    text-align: right;
    margin-right: 1em;
    color: #92374d;
}

#buffer-faq {
    height: 100vh;
}

#img-nwi {
    width: 75%;
}
