---
---
@import "main";

.p109 {
    background-image: url("109.JPG");
}

.p057 {
    background-image: url("057.JPG");
}

.p132 {
    background-image: url("132.JPG");
}


body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2vw;
    font-weight: 400;
    font-style: italic;
    margin: 0;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-weight: 100;
}

#wrapper {
    height: 100vh;
    background-color: rgb(234, 173, 173);
}

#nav {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5vw;
    padding-top: 5vw;
    visibility: hidden;
}

#nav > p {
    color: white;
    opacity: 0.8;
    margin-bottom: 1em;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 8px;
    perspective-origin: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0px);
    z-index: -2;
}

.foreground {
    width: 100%;
    transform: translateZ(3px) scale(0.625);
    transform-origin: center 50vh;
    z-index: 1;
}

.foreground-section {
    background-size: 100vw auto;
    width: 100%;
    height: 100vh;
}

#title {
    position: absolute;
    right: 7vw;
    top: 10vw;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3vw;
    font-weight: 100;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title b {
    background: linear-gradient(to right, #eaadad, #cce8cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 0px #cce8cc77;
}

#title img {
    width: 30vw;
}

.background-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-buffer {
    width: 100%;
    height: 62.5vh;
}

.background-buffer-small {
    width: 100%;
    height: 25vh;
}

.foreground-buffer {
    width: 100%;
    height: 100vh;
}

.bg1 {
    background-color: #283c46;
}

.bg2 {
    background-color: #92374d;
}

.text-background {
    background: linear-gradient(to right, #eaadad, #cce8cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#venue > h1 {
    font-size: 10vw;
    margin-bottom: 4vw;
}

.address {
    text-align: center;
}

#venue-address {
    margin-bottom: 5vw;
}

#venue-timing {
    display: flex;
    text-align: center;
    align-items: center;
    width: 30vw;
}

#venue-timing > div {
    flex-grow: 1;
    border-bottom: solid 1px #eaadad;
    position: relative;
    top: -0.5em;
    height: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#venue-timing > span {
    font-size: 3vw;
}

#venue-timing > span:first-of-type::before {
    content: "Ceremony Starts";
    display: block;
    position: relative;
    font-size: 2vw;
    width: 0;
    height: 0;
    top: -1.2em;
    left: -7vw;
    white-space: nowrap;
}

#venue-timing > span:last-of-type::before {
    content: "Reception Ends";
    display: block;
    position: relative;
    font-size: 2vw;
    width: 0;
    height: 0;
    left: 4vw;
    top: 1.9em;
    white-space: nowrap;
}

#hotel > h2 {
    margin-bottom: 4vw;
}

#hotel-address {
    margin-bottom: 2vw;
}

.dotdot {
    width: 0;
    height: 4vw;
    border-right: solid 1px #cce8cc;
    margin-bottom: 2vw;
}

#hotel img {
    width: 5vw;
    margin-right: 2vw;
}

#hotel-timing {
    display: flex;
    align-items: center;
}

.dan {
    color: #cce8cc;
    text-shadow: 1px 1px 0px #cce8cc77;
}

.anna {
    color: #eaadad;
    text-shadow: 1px 1px 0px #eaadad77;
}

.bridesmaid {
    color: #b78278;
}

.bridesmaid-ts {
    color: #b78278;
    text-shadow: 1px 1px 0px #eaadad77;
}
