<div id="hotel" class="background-section">
    <h2 class="dan">A block of rooms has been set aside for guests at:</h2>
    <div id="hotel-address" class="address bridesmaid">
        <h2 class="bridesmaid-ts">Comfort Inn & Suites Bowmanville</h2>
        <p>5 Spicer Square</p>
        <p>Bowmanville, ON</p>
        <p>L1C 5M2</p>
    </div>
    <div class="dotdot"></div>
    <div id="hotel-timing" class="dan">
        <img src="assets/images/noun_Bus_2491103.svg"/>
        <section>
            <p>Bus transport from hotel leaves at <u>3:30 pm</u></p>
            <p>and leaves to return to hotel at <u>11:00 pm</u></p>
        </section>
    </div>
</div>
